.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

*{
    margin: 0;
    padding: 0;
}
/* nav style */
.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin-left: 23px;
    padding-left: 13px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
    padding-left: 118px;
    margin-left: 88px;
}

.nav-title span {
    color: rgb(253, 110, 10);
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 50px;
    font-weight: 700;
}

nav li a {
    text-decoration: none;
}

/* shared */
.secondary-bg {
    background-color: #FFF8F3;
}

.dark-2 {
    color: rgb(71, 71, 71);
}

.btn-primary {
    border-radius: 5px;
    background: rgb(253, 110, 10);
    color: rgb(255, 255, 255);
    padding: 14px 32px;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}

.section-description {
    font-size: 18px;
    color: #757575;
}

.text-align {
    text-align: center;
}

.skill-title {
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-description {
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;
}

.skill img{
    margin-bottom: 30px;
}

/* banner styles */
.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 18px;
    font-weight: 300;
    color: #8E8D8C;
    margin-bottom: 30px;
}

.banner {
    display: flex;
    justify-content: space-between;
    /* margin: 0 27px 0 120px; */
}

.banner-image-size {
    width: 554px;
    height: 676px;
}

.banner-content {
    max-width: 500px;
    margin-top:185px ;
    margin-left: 200px;
}


/* main section */

main {
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about section */

.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.about-title {
    font-size: 20px;
    color: #757575;
}

.about_description {
    font-size: 20px;
    color: #757575;
    font-weight: bold;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.inside-bg {
    background-color: white;
    border: 1px solid black;
    padding: 0 5px;
}

/* skill-section  */

.skill-container {
    display: flex;
    gap: 24px;
    margin-top: 30px;

}

.skill {
    color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 50px 30px 30px 30px;
}

/* resume section */

.resume-container{
    display: flex;
    gap: 24px;
    margin-top: 114px;
    margin-bottom: 50px;
}

.resume-colomn-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}

.resume-experiance-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}

.resume-experience-subtitle{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}

.resume-expireance-description{
    color: #757575;
    margin-bottom: 30px;
}

.resume hr{
    margin-bottom: 30px;
}

/* footer section */

footer{
    padding: 130px 230px;
    display: flex;
    gap: 117px;
}

.footer-coloumn h3{
    margin-bottom: 21px;
}

.footer-coloumn p{
    margin-bottom: 30px;
}
.footer-coloumn a{
    padding-right:30px ;
}

footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    width: 461px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    border: none;
    display: block;
    font-size: 18px;
    color: #757575;
    margin-bottom: 24px;
}

.height{
    height: 180px;
    font-size: 18px;
}
